* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #000000;
    color: white;

}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 2px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.active {
    color: #f5a742;
    border-top: 2px solid #f1d184;
}

#mode {
    background: #e92c64;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    color: #f1d184;
    padding: 0px 10px;
    border-radius: 4px;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
    color: green;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}

#window {
    padding-left: 20px;
    color: #8f8f8f;
}
